<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
</head>
<body>
	<div th:replace="include/include::html"></div>
	<!--账户下的用户列表-->
	<table id="preBillingRecord_dg" style="width: auto;"></table>
	<!--菜单工具栏-->
	<div id="preBillingRecord_toolbar" style="padding:2px 5px;">
		<form method="POST" enctype="multipart/form-data"  id="preBillingRecord_upload_form">
       		<input class="easyui-filebox" id="preBillingRecord_uploadFile" data-options="prompt:'请选择文件',buttonAlign:'left'" name="file" style="width:150px;"/>
       		<a href="#" type="button" onclick="uploadPreBillingRecord()" class="easyui-linkbutton" id="preBillingRecord_upload_form_btn" data-options="iconCls: 'icon-add'" style="width:70px">确认</a>&nbsp;&nbsp;&nbsp;
			<a href="/preBillingRecord/excelDemoDownload"  data-options="iconCls: 'icon-redo'" class="easyui-linkbutton">下载模板</a>
			<div style="float:right;margin-right:10px">
				<input id="preBillingRecord_search_category" name="category" data-options="width:50,prompt:'请选择类别'" panelHeight="auto" class="easyui-combobox"/>
				<input id="preBillingRecord_search_legalPerson" data-options="width:100,prompt:'按法人名称搜索'" class="easyui-textbox"/>
	            <input type="text" class="easyui-textbox" name="companyName" id="preBillingRecord_search_companyName" data-options="width:100,prompt:'按所属公司搜索'"/>
	            <input type="text" name="creditCode" class="easyui-textbox" id="preBillingRecord_search_creditCode" data-options="width:100,prompt:'按信用代码搜索'"/>
				日期: <input id="preBillingRecord_datefrom" type="text" style="width:98px" class="easyui-my97" data-options=" editable:false,showSeconds: false ,dateFmt:'yyyy/MM'"/>  - 
				<input id="preBillingRecord_dateto" type="text" style="width:98px" class="easyui-my97" data-options=" editable:false,showSeconds: false ,dateFmt:'yyyy/MM'"/> &nbsp;&nbsp;
				<a href="#" id="preBillingRecord_searchdate" data-options="iconCls: 'icon-search'" class="easyui-linkbutton" onclick="preBillingRecord_searchdate_btn()" style="width:80px">查询</a>
				<a href="javascript:void(0)" id="preBillingRecord_deleteBtn" class="easyui-linkbutton" onclick="delpreBillingRecord()" data-options="iconCls : 'icon-remove'">选中行删除</a>
				<a href="javascript:void(0)" id="preBillingRecord_removeByConditionBtn" class="easyui-linkbutton" onclick="removeByCondition()">按左侧查询条件删除</a>
			</div>
        </form>
	</div>
</body>
<script type="text/JavaScript" th:inline="javascript">
/*<![CDATA[*/
var preBillingRecord_row="";
var id="";
$(document).ready(function(){
	$('#preBillingRecord_search_category').combobox({
	        url:"/preBillingRecord/categoryCombobox",
	        multiple:false,//是否可多选
	        editable:false,//是否可编辑
	        width:120,
   	        method:'get',
	     	valueField:"id",
	     	textField:"text"
	    });
	var regName="";
	$('#preBillingRecord_dg').datagrid({
		url: '/preBillingRecord',
//		toolbar: '#preBillingRecord_toolbar',
		method:'get',
		fitColumns:true,
		striped: true,
		rownumbers: true,
		pagination: true, //分页控件 
		pageNumber: 1,
		pageSize: 10,
		pageList: [10,20,40],
		sortName: 'id',
		pagePosition: 'both',
		singleSelect: false,
		selectOnCheck: true,
		checkOnSelect: true,
		onLoadSuccess: function(data) {
		//待写
		},
		onLoadError: function(){
			eu.showMsg("加载用户信息失败，请联系管理员！");
		},		
		columns: [[
				{field:'ck',checkbox:true},
                {field: 'id',title: '主键',hidden: true,sortable: true,align: 'right', width: 80 } ,
                {field: 'orderNo',title: '序号',align: 'center', width: 40 } ,
                {field: 'createTime',title: '日期',align: 'center', width: 160 ,formatter : function(value){
                    var date = new Date(value);
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    var d = date.getDate();
                    return y + '-' +m + '-' + d;
                }} ,
                {field: 'category',title: '类别',align: 'center', width: 40 } ,
                {field: 'companyName', title: '所属公司', width: 200, align:'center'} ,
                {field: 'plateNum',title: '车牌',align: 'center', width: 80 } ,
                {field: 'legalPerson', title: '法人', width: 80, align:'center'} ,
                {field: 'individualName', title: '个体名称', width: 170, align:'center'} ,
                {field: 'creditCode', title: '信用代码', width: 170, align:'center'} ,
                {field: 'mulAccount', title: '多级账号', width: 100, align:'center'} ,
                {field: 'sendAmount', title: '发来金额', width: 00, align:'center'} 
		]],
		toolbar:'#preBillingRecord_toolbar',
		onSelect: function(rowIndex, rowData) {
			preBillingRecord_row = rowData;
			id=rowData.id;
			regName = rowData.regName;
		}
	});
	//初始化下拉数据
	$('#category').combobox({
        url:"/prebillingrecord/categoryCombobox",
        multiple:false,//是否可多选
        editable:false,//是否可编辑
        width:120
    });
})
//查询按钮
function preBillingRecord_searchdate_btn(){
	var dateFrom=$("#preBillingRecord_datefrom").val();
	var dateTo=$("#preBillingRecord_dateto").val();
	var legalPerson=$("#preBillingRecord_search_legalPerson").textbox('getValue');
	var company=$("#preBillingRecord_search_companyName").textbox('getValue');
	var creditCode=$("#preBillingRecord_search_creditCode").textbox('getValue');
	var category=$("#preBillingRecord_search_category").combobox('getValue');
	$('#preBillingRecord_dg').datagrid('options').pageNumber=1;
	$('#preBillingRecord_dg').datagrid({ 
		url: '/preBillingRecord',
		method:'get',
		queryParams:{
			dateFrom:dateFrom,
			dateTo:dateTo,
			legalPerson:legalPerson,
			company:company,
			creditCode:creditCode,
			category:category
		}
	});
}

/**
 *  删除
 */
function delpreBillingRecord(){
	var ids = new Array();
	var rows = $('#preBillingRecord_dg').datagrid('getSelections');
	for(var i=0; i<rows.length; i++){
		ids[i]= rows[i].id;
	}
	if(rows.length==0){
		eu.showMsg("请选择一条记录");
		return false;
	}
	$.messager.confirm('删除', '您想要删除吗？', function(r){
	    if (r){
	    	$.ajax({
				url : '/preBillingRecord/' + ids,
				type : 'delete',
				success : function(data) {
					$('#preBillingRecord_dg').datagrid('reload');
				},error : function(xhr,textStatus,errorThrown){
					var result=JSON.parse(xhr.responseText);
				    eu.showMsg(result.message);
			    }
			});
	    }
	});
}
/**
 * 按条件删除
 */
function removeByCondition(){
	$.messager.confirm('删除', '您想要删除吗？', function(r){
		var dateFrom=$("#preBillingRecord_datefrom").val();
		var dateTo=$("#preBillingRecord_dateto").val();
		var legalPerson=$("#preBillingRecord_search_legalPerson").textbox('getValue');
		var company=$("#preBillingRecord_search_companyName").textbox('getValue');
		var creditCode=$("#preBillingRecord_search_creditCode").textbox('getValue');
		var category=$("#preBillingRecord_search_category").combobox('getValue');
		if (r){
			$.ajax({
				url : '/preBillingRecord/removeByCondition',
				type : 'delete',
				data:{"para":Math.random(),"dateFrom":dateFrom,"dateTo":dateTo,"legalPerson":legalPerson,"company":company,"creditCode":creditCode,"category":category},
				success : function(data) {
					$('#preBillingRecord_dg').datagrid('reload');
				},error : function(xhr,textStatus,errorThrown){
					var result=JSON.parse(xhr.responseText);
				    eu.showMsg(result.message);
			    }
			});
		}
		
	});
}
function uploadPreBillingRecord(){
	if($("#preBillingRecord_uploadFile").textbox('getValue')=="")return;
	load();
	$("#preBillingRecord_upload_form").form('submit', {
        url: '/preBillingRecord/uploadPreBillingRecord',
        data: $("#preBillingRecord_upload_form").serialize(),
        type :'post',
        success: function (result) {
        	$("#preBillingRecord_uploadFile").textbox('setValue',"");
        	$('#preBillingRecord_dg').datagrid('reload');
        	disLoad();
        	eu.showMsg("上传完成");
        },error : function(xhr,textStatus,errorThrown){
			var result=JSON.parse(xhr.responseText);
		    eu.showMsg(result.message);
	    }
    });
}
//弹出加载层
function load() {  
    $("<div class=\"datagrid-mask\"></div>").css({ display: "block", width: "100%", height: $(window).height() }).appendTo("body");  
    $("<div class=\"datagrid-mask-msg\"></div>").html("正在上传，请稍候。。。").appendTo("body").css({ display: "block", left: ($(document.body).outerWidth(true) - 190) / 2, top: ($(window).height() - 45) / 2 });  
}  
  
//取消加载层  
function disLoad() {  
    $(".datagrid-mask").remove();  
    $(".datagrid-mask-msg").remove();  
}
/*]]>*/
</script>	
</html>