<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div th:replace="include/include::html"></div>
	<table id="roleManager_dg" style="width: auto;"></table>
	<div id="roleManager_toolbar" style="padding: 2px 5px;">
		<input id="roleManager_search_name" class="easyui-textbox" data-options="width:150,prompt:'按用户名称搜索'" /> &nbsp;&nbsp; 
		<a href="#" class="easyui-linkbutton" data-options="iconCls: 'icon-search'" onclick="roleManager_searchdate_btn()" style="width: 80px">查询</a>
		<a onclick="roleAdd()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true," href="#">增加</a> 
		<a onclick="roleEdit()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true," href="#">修改</a> 
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="delroleManager()">选中行删除</a>
	</div>


	<div id="role_saveOrUpdate" style="padding: 20px; display: none;" class="easyui-window" title="增加帐号" data-options="closed:true">
		<form id="role_saveOrUpdateForm" method="post" enctype="application/json;charset=utf-8">
			<input type="hidden" id="id" name="id"/>
			<div>
				<b><span>角色名称：</span></b> <input type="text" name="roleName" id="roleName" class="easyui-textbox" style="width: 130px;" value=""
					data-options="required:true" /><br /> <br />
			</div>
			<div>
				<b><span>角色描述：</span></b> <input type="text" name="roleDesc" id="roleDesc" class="easyui-textbox" style="width: 130px;" value="" /><br /> <br />
			</div>
			<div id="resourceType">
				<b><span>账户菜单：</span></b> <input id="resourcesIds" name="resourcesIds" class="easyui-combotree"
					data-options="method:'get',multiple:true,url:'/resource/geAllResources'" style="width: 130px;" /><br /> <br />
			</div>
			<div id="authorityType">
				<b><span>账户权限：</span></b> <input id="authoritysIds" name="authoritysIds" class="easyui-combobox" style="width: 130px;" 
					data-options="method:'get',multiple:true,valueField:'id',textField:'authName',url:'/authority/getAuthoritys'" /><br /> <br /> <br />
			</div>
			<button type="button" class="easyui-linkbutton" id="role_saveOrUpdate_addBtn">提交</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" class="easyui-linkbutton" id="role_saveOrUpdate_cancelBtn">取消</button>
		</form>
	</div>
</body>
<script type="text/JavaScript" th:inline="javascript">
/*<![CDATA[*/
var roleManager_row="";
var id="";
$(document).ready(function(){
	var regName="";
	$('#roleManager_dg').datagrid({
		url: '/role',
//		toolbar: '#roleManager_toolbar',
		fitColumns:true,
		striped: true,
		rownumbers: true,
		pagination: true, //分页控件 
		pageNumber: 1,
		method:'get',
		pageSize: 10,
		pageList: [10,20,40],
		sortName: 'id',
		pagePosition: 'both',
		singleSelect: true,
		selectOnCheck: true,
		checkOnSelect: true,
		onLoadSuccess: function(data) {
		//待写
		},
		onLoadError: function(){
			eu.showMsg("加载信息失败，请联系管理员！");
		},		
		columns: [
			[
			{
				field: 'id',
				title: '用户id',
				hidden: true,
				sortable :true,
				width: 50
			},{
				field: 'resourcesIds',
				title: '资源id',
				hidden: true,
				sortable :true,
				width: 50
			},{
				field: 'authoritysIds',
				title: '权限id',
				hidden: true,
				sortable :true,
				width: 50
			}, {
				field: 'createTime',
				title: '创建日期',
				width: 100,
				sortable :true,
				align: 'center'	,
				formatter : function(value){
                       var date = new Date(value);
                       var y = date.getFullYear();
                       var m = date.getMonth() + 1;
                       var d = date.getDate();
                       return y + '-' +m + '-' + d;
                }
			}, {
				field: 'roleName',
				title: '角色名称',
				width: 100,
				sortable :true,
				align: 'center'
			}, {
				field: 'roleDesc',
				title: '角色描述',
				width: 100,
				sortable :true,
				align: 'center'
			}]
		],
		toolbar:'#roleManager_toolbar',
		onSelect: function(rowIndex, rowData) {
			roleManager_row = rowData;
			id=rowData.id;
			regName = rowData.regName;
		}
	});

	$('#roleManager_addBtn').linkbutton({
		iconCls : 'icon-add',
		onClick : function() {
			delroleManager();
		}
	}); 
	roleManager_loadEasyUI();
})


//弹出加载层
function load() {  
    $("<div class=\"datagrid-mask\"></div>").css({ display: "block", width: "100%", height: $(window).height() }).appendTo("body");  
    $("<div class=\"datagrid-mask-msg\"></div>").html("正在上传，请稍候。。。").appendTo("body").css({ display: "block", left: ($(document.body).outerWidth(true) - 190) / 2, top: ($(window).height() - 45) / 2 });  
}  
  
//取消加载层  
function disLoad() {  
    $(".datagrid-mask").remove();  
    $(".datagrid-mask-msg").remove();  
}
function roleManager_loadEasyUI(){
	//页面easyui框框加载
	$(".easyui-linkbutton").linkbutton({
		required:true
	});
	$(".easyui-textbox").textbox({});
	$(".easyui-numberbox").numberbox({});  
	$(".easyui-filebox").filebox({});

}

//查询按钮
function roleManager_searchdate_btn(){
	var roleName=$("#roleManager_search_name").textbox('getValue');
	$('#roleManager_dg').datagrid('options').pageNumber=1;
	$('#roleManager_dg').datagrid({ 
		url: '/role',
		method:'get',
		queryParams:{
			roleName:roleName
		}
	});
}

/**
 *  删除
 */
function delroleManager(){
	var ids = new Array();
	var rows = $('#roleManager_dg').datagrid('getSelections');
	for(var i=0; i<rows.length; i++){
		ids[i]= rows[i].id;
	}
	if(rows.length==0){
		eu.showMsg("请选择一条记录");
		return false;
	}
	$.messager.confirm('删除', '您想要删除吗？', function(r){
	    if (r){
			$.ajax({url:'/role/'+ids,type:'delete',
				success:function(data){
					$('#roleManager_dg').datagrid('reload');
				},error : function(xhr,textStatus,errorThrown){
					var result=JSON.parse(xhr.responseText);
				    eu.showMsg(result.message);
			    }
			});	
	    }
	});
}

////新增角色按钮点击事件
function roleAdd(){		
	$('#role_saveOrUpdateForm').form('clear');
	$('#role_saveOrUpdate').show();
	$('#role_saveOrUpdate').window({
		left:($(window).width()-340)/2,
		top:($(window).height()-560)/2,					
		width:340,
		height:280,
		modal:true
	});
	$('#role_saveOrUpdate').show();
	$('#role_saveOrUpdate').window('open');
	$("#resourcesIds").combotree({
		onLoadSuccess : function(node,data) {
			//自动展开所有节点
			if(data){
				$(data).each(function(index,value){
					if(this.state=='closed'){
						$("#resourcesIds").combotree('tree').tree('expandAll');  
					}
				});
			}
		}
	});
}
function roleEdit(row){
	if (row == undefined) {
		row = $('#roleManager_dg').datagrid('getSelected');
	}
	var rows = $('#roleManager_dg').datagrid('getSelections');
	if (row == undefined) {
		eu.showMsg("请选择要操作的对象！");
		return;
	}
	if (row) {
		if (rows.length > 1) {
			eu.showMsg("您选择了多个操作对象!");
			return false;
		}
	}
	$('#role_saveOrUpdateForm').form('clear');
	$('#role_saveOrUpdate').show();
	$('#role_saveOrUpdate').window({
		left:($(window).width()-340)/2,
		top:($(window).height()-560)/2,					
		width:340,
		height:280,
		modal:true
	});
	$('#role_saveOrUpdate').show();
	$('#role_saveOrUpdate').window('open');
	$("#resourcesIds").combotree({
		onLoadSuccess : function(node,data) {
			//自动展开所有节点
			if(data){
				$(data).each(function(index,value){
					if(this.state=='closed'){
						$("#resourcesIds").combotree('tree').tree('expandAll');  
					}
				});
			}
		}
	});

	if (row) {
		$('#role_saveOrUpdateForm').form('load', row);
	}
}

//新增账户提交按钮
$('#role_saveOrUpdate_addBtn').unbind('click').click(function(){
	var roleName=$('#roleName').textbox('getValue');
	var roleDesc=$('#roleDesc').textbox('getValue');
	var id=$("#id").val();
	if(roleName==''){
		eu.showMsg('请输入用户名');
		return false;
	}else if(roleName.indexOf(' ')>=0){
		eu.showMsg('角色名不能包含空格');
		return false;	
	}else if(roleName.replace(/[^\u0000-\u00ff]/g,"aa").length>200){
		eu.showMsg("名称最长为200个汉字");
		return false;		
	}
	var resourcesIds = $("#resourcesIds").combotree("getValues"); 
	var authoritysIds = $("#authoritysIds").combobox("getValues"); 
	var role={"id":id,"roleName":roleName,"roleDesc":roleDesc,"resourcesIds":resourcesIds,"authoritysIds":authoritysIds};
	$.ajax({url:'/role/saveOrUpdateRole',data:JSON.stringify(role),contentType : "application/json;charset=utf-8",
		success:function(data){
			if(data=="success"){
				$('#roleManager_dg').datagrid('reload');
				$('#role_saveOrUpdate').window('close');
				$('#role_saveOrUpdateForm').form('clear');			
			}else{
				eu.showMsg(data);
				$('#role_saveOrUpdateForm').form('clear');
				$('#role_saveOrUpdate').window('close');
			} 
		},error : function(xhr,textStatus,errorThrown){
			var result=JSON.parse(xhr.responseText);
		    eu.showMsg(result.message);
	    }
	});	
})
//新增账户取消按钮
$('#role_saveOrUpdate_cancelBtn').unbind('click').click(function(){
	$('#role_saveOrUpdateForm').form('clear');
		$('#role_saveOrUpdate').window('close');
})

//将从form中通过$('#form').serialize()获取的值转成json  
var DataDeal = {  
      formToJson: function (data) {  
          data=data.replace(/&/g,"\",\"");  
          data=data.replace(/=/g,"\":\"");  
          data="{\""+data+"\"}";  
          return decodeURIComponent(data);  
       },  
};  
/*]]>*/
</script>
</html>